body {
    font-family: sans-serif;
  }
  
  .questions {
    margin: 0 auto;
    width: 400px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  input[type="radio"] {
    margin-right: 10px;
  }
  
  #submit {
    margin-top: 20px;
  }
  
  #results {
    margin-top: 20px;
    display: none;
  }
  